Source of data can be obtained [here](https://github.com/CSSEGISandData/COVID-19) - provided by John Hopkins University.

In [1]:
from datetime import date
from datetime import timedelta
from typing import TypeVar
import pandas as pd
pd.options.display.max_rows=5000
DataFrame = TypeVar('pd.core.frame.DataFrame')

In [2]:
def getCoronaVirusDataUSA(iso_date: str, by: str) -> DataFrame:
    """ Obtain counts of confirmed and deaths from SARS-COV-2 / Covid-19 in the U.S. for a single, specific date
    
    Parameter
    ---------
    iso_date : str
        Date in ISO format ('YYYY-MM-DD') for which you want the counts from
    by : str, valid values are 'state' | 'county'
        Indicates that you want counts by state or by county
        
    Returns
    -------
    Pandas dataframe containing confirmed counts by US states
    
    Example Usage
    -------------
    getCoronaVirusDataUSA('2020-03-24', by='state') returns a Pandas dataframe by U.S. state
    getCoroanVirusDataUSA('2020-03-24', by='county') returns a Pandas dataframe by U.S. country
    etCoronaVirusDataUSA('2020-03-24', by='county').filter(like='Ohio', axis='index') filtered to Ohio counties only
    """
    
    data_date: str = date.fromisoformat(iso_date).strftime('%m-%d-%Y')
    data_url: str = f"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{data_date}.csv"
        
    df: DataFrame = pd.read_csv(data_url)
    df_us: DataFrame = df[df['Country_Region'] == 'US'].query("Confirmed > 0").rename(columns={'Admin2': 'County', 'Combined_Key': 'County_State'})
    
    if 'state' in by:
        confirmed: DataFrame = df_us.groupby('Province_State').agg('sum')['Confirmed'].sort_values(ascending=False).to_frame()
        deaths: DataFrame = df_us.groupby('Province_State').agg('sum')['Deaths'].sort_values(ascending=False).to_frame()
        merged: DataFrame = pd.merge(confirmed, deaths, how='left', left_index=True, right_index=True)
        
        return merged
    elif 'county' in by:
        confirmed: DataFrame = df_us.groupby('County_State').agg('sum')['Confirmed'].sort_values(ascending=False).to_frame()
        deaths: DataFrame = df_us.groupby('County_State').agg('sum')['Deaths'].sort_values(ascending=False).to_frame()
        merged: DataFrame = pd.merge(confirmed, deaths, how='left', left_index=True, right_index=True)
        
        return merged

In [3]:
latest_date = (date.today() + timedelta(days=-1)).strftime("%Y-%m-%d")
latest_date

'2020-03-24'

In [4]:
getCoronaVirusDataUSA('2020-03-24', by='state')

                      Confirmed  Deaths
Province_State
New York                  25681     171
New Jersey                 3675      44
California                 2538      50
Washington                 2328     116
Michigan                   1793      24
Illinois                   1537      12
Florida                    1412      17
Louisiana                  1388      46
Massachusetts              1159      11
Georgia                    1026      32
Texas                       955      12
Pennsylvania                946       8
Tennessee                   772       2
Colorado                    723       8
Connecticut                 618      12
Ohio                        567       8
North Carolina              495       0
Wisconsin                   481       5
Indiana                     368      12
Maryland                    349       4
South Carolina              342       5
Arizona                     326       3
Mississippi                 320       1
Utah                        298       1
Virginia                    293       9
Nevada                      278       4
Minnesota                   261       1
Missouri                    257       7
Alabama                     242       0
Arkansas                    219       2
Oregon                      210       8
Kentucky                    162       4
District of Columbia        141       2
Rhode Island                124       0
Iowa                        124       0
Maine                       118       0
Oklahoma                    106       3
Delaware                    104       0
New Hampshire               101       1
New Mexico                  100       0
Kansas                      100       2
Vermont                      95       5
Hawaii                       90       1
Idaho                        81       0
Nebraska                     66       0
Montana                      51       0
Diamond Princess             49       0
Puerto Rico                  39       2
North Dakota                 36       0
Alaska                       34       0
Guam                         32       1
South Dakota                 30       1
Wyoming                      29       0
Grand Princess               28       1
West Virginia                22       0
Virgin Islands               17       0
Wuhan Evacuee                 4       0

In [5]:
getCoronaVirusDataUSA(latest_date, by='county').filter(like='Ohio', axis='index')

                      Confirmed  Deaths
County_State
Cuyahoga, Ohio, US          167       2
Franklin, Ohio, US           75       2
Hamilton, Ohio, US           38       0
Summit, Ohio, US             36       0
Lorain, Ohio, US             30       0
Mahoning, Ohio, US           28       0
Miami, Ohio, US              19       0
Butler, Ohio, US             18       0
Medina, Ohio, US             15       0
Lucas, Ohio, US              13       1
Stark, Ohio, US              13       1
Lake, Ohio, US               11       0
Delaware, Ohio, US           11       0
Montgomery, Ohio, US         10       0
Warren, Ohio, US              7       0
Clermont, Ohio, US            5       0
Geauga, Ohio, US              5       0
Richland, Ohio, US            4       0
Trumbull, Ohio, US            4       0
Portage, Ohio, US             4       0
Marion, Ohio, US              4       0
Ashtabula, Ohio, US           3       0
Tuscarawas, Ohio, US          3       0
Greene, Ohio, US              3       0
Carroll, Ohio, US             3       0
Coshocton, Ohio, US           3       0
Columbiana, Ohio, US          3       0
Wood, Ohio, US                2       0
Union, Ohio, US               2       0
Clark, Ohio, US               2       0
Fairfield, Ohio, US           2       0
Defiance, Ohio, US            2       0
Licking, Ohio, US             2       0
Belmont, Ohio, US             2       0
Huron, Ohio, US               2       0
Logan, Ohio, US               2       0
Clinton, Ohio, US             1       0
Champaign, Ohio, US           1       0
Ashland, Ohio, US             1       0
Ohio, Indiana, US             1       0
Sandusky, Ohio, US            1       0
Washington, Ohio, US          1       0
Seneca, Ohio, US              1       0
Gallia, Ohio, US              1       1
Highland, Ohio, US            1       0
Hancock, Ohio, US             1       0
Darke, Ohio, US               1       0
Crawford, Ohio, US            1       0
Erie, Ohio, US                1       1
Madison, Ohio, US             1       0
Knox, Ohio, US                1       0

In [6]:
getCoronaVirusDataUSA(latest_date, by='county').filter(like='New York', axis='index')

                             Confirmed  Deaths
County_State
New York City, New York, US      14904     131
Westchester, New York, US         3891       1
Nassau, New York, US              2869       9
Suffolk, New York, US             1880      17
Rockland, New York, US             671       5
Orange, New York, US               498       0
Albany, New York, US               146       0
Dutchess, New York, US             124       1
Erie, New York, US                 114       0
Monroe, New York, US               106       3
Putnam, New York, US                82       0
Onondaga, New York, US              60       1
Saratoga, New York, US              53       0
Schenectady, New York, US           44       0
Ulster, New York, US                35       0
Rensselaer, New York, US            33       0
Sullivan, New York, US              23       0
Columbia, New York, US              18       0
Tompkins, New York, US              16       0
Oneida, New York, US                10       0
Niagara, New York, US               10       0
Broome, New York, US                 9       1
Steuben, New York, US                8       0
Clinton, New York, US                6       0
Ontario, New York, US                6       0
Wayne, New York, US                  6       0
Greene, New York, US                 4       0
Herkimer, New York, US               4       0
Madison, New York, US                4       1
Wyoming, New York, US                4       1
Essex, New York, US                  3       0
Chemung, New York, US                3       0
Chenango, New York, US               3       0
Delaware, New York, US               3       0
Washington, New York, US             3       0
Livingston, New York, US             3       0
Montgomery, New York, US             3       0
Allegany, New York, US               2       0
Cortland, New York, US               2       0
Warren, New York, US                 2       0
Oswego, New York, US                 2       0
Jefferson, New York, US              2       0
Chautauqua, New York, US             2       0
Cayuga, New York, US                 2       0
Hamilton, New York, US               2       0
Otsego, New York, US                 1       0
Schoharie, New York, US              1       0
Tioga, New York, US                  1       0
St. Lawrence, New York, US           1       0
Genesee, New York, US                1       0
Fulton, New York, US                 1       0